.container {
  display: grid;
}

.form {
  flex-direction: column;
  display: flex;
  justify-self: center;
  margin: 4em;
  border-radius: 2em;
  padding: 1.5em 2em;
  width: 40vw;
  height: 70vh;
}

.form h1 {
  margin-block: 0.5em;
  padding-bottom: 0.5em;
}

.form p {
  margin-bottom: 2em;
}

label {
  display: block;
  font-size: 1.2em;
}

.form--input {
  width: 100%;
  margin-block: 0.7em 2em;
  color: var(--header-color);
  display: block;
  padding: 0 0 0.8em 0;
  font-family: var(--font-family);
  font-size: 1em;
  border: none;
  border-bottom: 1px solid #b6b6b6;
}
.form--input:focus {
  outline: none;
}

button {
  display: block;
  border-radius: 0.7em;
  border: 2px solid transparent;
  align-self: center;
  text-align: center;
  padding: 0.6em 2.5em;
  margin-top: 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
button:hover {
  background-color: #646cff;
  color: white;
}

.line-break {
  border: 1px solid var(--header-color);
}
