.home-container {
  display: grid;
}

.navbar {
  padding-block: 0.6em;
  border: 1px solid transparent;
  border-bottom-color: #a2a2a2;
  width: 90%;
  font-size: 1.4em;
  text-align: center;
  font-weight: 500;
  justify-self: center;
}

.main-header {
  margin-top: 2em;
  font-size: 4em;
  border-radius: 1em;
  color: black;
  padding: 1.5em 1em;
  text-align: center;
}

.main-header span {
  color: #646cff;
}
/* 
.login {
  justify-self: center;
  width: 10em;
  background-color: #646cff;
  color: white;
} */

.login {
  border-radius: 0.7em;
  border: 2px solid transparent;
  justify-self: center;
  background-color: #efefef;
  text-align: center;
  padding: 0.6em 2.5em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}
.login:hover {
  background-color: #646cff;
  color: white;
}
